body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.logo {
    padding-right: 20px;
}

/*
#executer #arreter #paniquer #aider {
    margin-left: 20px;
}
*/
/*
#zone_ide {
  width: 400px;
  height: 600px;
}
*/


.CodeMirror {
    background-color: #fcfcfc;
    border: 1px solid #eee;

}
